@charset "UTF-8";

body {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img#logo-centro {
    margin: 0;
    position: absolute;
    top: 147%;
    left: 47%;


}